@charset "utf-8";
.financeList-content{
    min-width: 1230px;
    background-color: #ebebeb;
}
.financeList-content .container{
    width: 1170px;
    min-width: 1170px;
}
.financeList-content .financeList-nav{
    padding-top: 110px;
}
.financeList-content .financeList-nav h2{
    color: #000;
    font-size: 18px;
    font-weight: normal;
    height: 35px;
    line-height: 35px;
    padding-left: 20px;
    background-color: #f6f6f6;
    border-bottom: 2px solid #ebebeb;
}

.financeList-content .financeList-nav ul{
    background-color: #fff;
}
.financeList-content .financeList-nav ul li{
    padding: 20px 70px 10px 20px;
    border-bottom: 1px dashed #ebebeb;
}
.financeList-content .financeList-nav ul li.last{
    border-bottom: none;
}
.financeList-content .financeList-nav ul li .nav-left{
    width: 150px;
    float: left;
    padding-top: 5px;
}
.financeList-content .financeList-nav ul li .nav-left span{
    font-size: 16px;
    display: inline-block;
    width: 75px;
    margin-right: 15px;
    text-align: right;
}
.financeList-content .financeList-nav ul li a{
    color: #000;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 8px;
}
.financeList-content .financeList-nav ul li a:hover,.financeList-content .financeList-nav ul li a.cur{
    color: #fff;
    background-color: #e60012;
}

.financeList-content .financeList-nav ul li .nav-right{
    width: 920px;
    float: left;
}
.financeList-content .financeList-nav ul li .nav-right a{
    display: inline-block;
    white-space: nowrap;
    margin-bottom: 5px;
}
.financeList-content .financeList-nav ul li .location span{
    cursor: pointer;
    position: relative;
    top: -3px;
    *top: -15px;
    width: 11px;
    height: 4px;
    display: inline-block;
    background: url("../images/financeList-icon01.png") no-repeat;
    background-position: 0 -6px;
}

.financeList-content .financeList-list{
    margin-top: 70px;
    padding-bottom: 100px;
}
.w495{
    width: 495px;
}
.w245{
    width: 245px;
}
.w150{
    width: 150px;
}
.w140{
    width: 140px;
}
.financeList-content .financeList-list thead{
    width: 100%;
    height: 35px;
    line-height: 35px;
    background-color: #f6f6f6;
    border-bottom: 2px solid #ebebeb;
}
.financeList-content .financeList-list thead th{
    color: #000;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    *border-bottom: 2px solid #ebebeb;
}

.financeList-content .financeList-list tbody tr{
    height: 75px;
    background-color: #fff;
    border-bottom: 2px solid #ebebeb;
}
.financeList-content .financeList-list tbody tr td{
   *border-bottom: 2px solid #ebebeb;
}
.financeList-content .financeList-list tbody tr td{
    color: #000;
    text-align: center;
}
.financeList-content .financeList-list tbody tr td.first{
    text-align: left;
}
.financeList-content .financeList-list tbody tr td img{
    display: inline-block;
    width: 42px;
    height: 42px;
    vertical-align: bottom;
    margin: 15px 30px 15px 50px;
    *float:left;
}
.financeList-content .financeList-list tbody tr td div{
    display: inline-block;
    *width: 360px;
    *float:left;
    margin: 15px 0;
}
.financeList-content .financeList-list tbody tr td div h4{
    color: #000;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
}
.financeList-content .financeList-list tbody tr td div p{
    color: #000;
    font-size: 12px;
}

.financeList-content .paging-list{
    margin-top: 100px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    *clear:both;
}
.financeList-content .paging-list a{
    display: inline-block;
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #f2f2f2;
    color: #8e8e8e;
}
.financeList-content .paging-list ul{
    display:inline;
    *position:relative;
    *top: -10px;
    /* display: inline-block;*/
}
.financeList-content .paging-list ul li{
    display: inline-block;
    cursor: pointer;
    padding: 10px 15px;
    background-color: #f2f2f2;
    color: #8e8e8e;
    *width:40px;
    *height:40px;
    *line-height:40px;
    *display:inline;
    margin-right: 10px;
}
.financeList-content .paging-list a:hover,.financeList-content .paging-list ul li:hover,.financeList-content .paging-list ul li.cur,.financeList-content .financeList-list a.cur{
    background-color: #e50012;
    color: #fff;
}