@charset "utf-8";
.part1{
    margin: 110px auto 25px;
    width: 1230px;
    min-width: 1230px;
    padding: 20px 0;
    border: 1px solid #e6e6e6;
}
.part1 h2{
    color: #000;
    line-height: 42px;
    font-size: 24px;
    font-weight: normal;
}
.part1 .part1-left{
    float: left;
    width: 400px;
    text-align: center;
}
.part1 .part1-left p span{
    color: #939393;
    margin: 0 5px;
    line-height: 35px;
}
.part1 .part1-left p em{
    color: #939393;
}
.part1 .part1-left p a{
    display: inline-block;
    color: #fff;
    background-color: #ff6269;
    width: 80px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 12px;
    margin: 15px 10px 0;
}
.part1 .part1-right{
    width: 810px;
    float: right;
}
.part1 .part1-right h2{
    margin: 0 0 20px 50px;
}
.part1 .part1-right ul li{
    float: left;
    width: 245px;
    padding-left: 20px;
    border-left: 1px solid #e6e6e6;
    min-height: 180px;
}
.part1 .part1-right ul li p{
    color: #3e3e3e;
    font-size: 18px;
    line-height: 45px;
}
.part1 .part1-right ul li p span{
    color: #3e3e3e;
    font-size: 18px;
}
.part1 .part1-right ul li p span.red{
    color: #ff6269;
    font-size: 20px;
    font-weight: bold;
}
.part1 .part1-right ul li p a{
    display: block;
    width: 110px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #ff6269;
    color: #fff;
    font-size: 16px;
    /*float: left;
    margin: 35px 30px 0 0;*/
    margin: 35px auto 0;
    border-radius: 10px;
}
.part1 .part1-right ul li p a.last{
    margin-right: 0;
}

.part2{
    margin-bottom: 100px;
}
.part2 h2{
    color: #000;
    font-size: 20px;
    font-weight: normal;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 30px;
}
.part2 .part2-left{
    float: left;
    width: 870px;
    border: 1px solid #e6e6e6;
}
.part2 .part2-left ul li{
    margin-bottom: 40px;
    padding: 0 30px 0 20px;
}
.part2 .part2-left ul li h4{
    color: #000;
    font-size: 16px;
}
.part2 .part2-left ul li h4 span{
    color: #3e3e3e;
    font-size: 16px;
    font-weight: normal;
}
.part2 .part2-left ul li .content{
    margin-top: 40px;
}
.part2 .part2-left ul li .content p{
    font-size: 16px;
    line-height: 25px;
}
.part2 .part2-left ul li .check a{
    display: block;
    width: 185px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    background-color: #ff6269;
    font-size: 18px;
    border-radius: 10px;
    margin: 40px auto 100px;
}

.part2 .part2-right{
    width: 335px;
    float: right;
    border: 1px solid #e6e6e6;
}
.part2 .part2-right h2{
    border-bottom: none;
    margin-bottom: 0;
}
.part2 .part2-right ul{
   /* padding-bottom: 226px;*/
}
.part2 .part2-right ul li{
    padding: 25px 20px 20px;
    border-top: 1px solid #e6e6e6;
}
.part2 .part2-right ul li h4{
    font-size: 16px;
    margin-bottom: 15px;
}
.part2 .part2-right ul li h4 span{
    width: 100px;
    display: inline-block;
    float: right;
    color: #ff6269;
    font-size: 16px;
}
.part2 .part2-right ul li p span{
    color: #7a7a7a;
}
.part2 .part2-right ul li p span.rate{
    width: 100px;
    float: right;
    display: inline-block;
}




.chart-box{
    /*display: none;*/
    position: fixed;
    right: 0;
    bottom: 0;
    width: 500px;
    height: 370px;
    background-color: #fff;
    z-index: 2;
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
}
.chart-box h3{
    color: #000;
    padding-left: 20px;
    height: 25px;
    line-height: 25px;
    background-color: #d9d9d9;
}
.chart-box h3 span{
    cursor: pointer;
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    top: 0;
}
.chart-box h3 span.close{
    right: 15px;
}
.chart-box h3 span.min{
    right: 30px;
}

.chart-box .box-left{
    float: left;
    width: 380px;
    border-right: 1px solid #e0e0e0;
}
.chart-box .box-left .box-left-top{
    height: 50px;
    background-color: #f7f7f7;
    border-bottom: 2px solid #e0e0e0;
}
.chart-box .box-left .box-left-top img{
    float: left;
    width: 40px;
    height: 40px;
    margin: 5px 20px;
}
.chart-box .box-left .box-left-top p{
    width: 280px;
    line-height: 50px;
    color: #000;
    font-size: 16px;
}
.chart-box .box-left .box-left-top p span{
    color: #000;
    font-size: 16px;
}
.chart-box .box-left .box-left-middle{
    height: 273px;
}
.chart-box .box-left .box-left-middle .chart-con{
    height: 175px;
    border-bottom: 1px solid #e0e0e0;
}
.chart-box .box-left .box-left-middle textarea{
    padding: 5px 10px;
    font-size: 12px;
    width: 358px;
    height: 85px;
    color: #b9b9b9;
    line-height: 20px;
}
.chart-box .box-left .box-left-bottom{
    height: 30px;
    background-color: #d9d9d9;
}
.chart-box .box-left .box-left-bottom input{
    width: 45px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    background-color: #ff6269;
    float: right;
}

.chart-box .box-right{
    float: right;
    width: 118px;
    background-color: #efefef;
}
.chart-box .box-right .box-right-top{
    padding: 15px 0 0 20px;
    height: 308px;
}
.chart-box .box-right h4,.chart-box .box-right p{
    color: #000;
    font-size: 14px;
    line-height: 20px;
}
.chart-box .box-right p.sysMsg{
    color: #b4b4b4;
}
.chart-box .box-right p.sysMsg i{
    width: 14px;
    height: 13px;
    display: inline-block;
    margin-right: 5px;
    background: url("../images/infoRelease-icon2.png") no-repeat;
}
.chart-box .box-right .box-right-bottom{
    height: 30px;
    background-color: #d9d9d9;
}