@charset "utf-8";
.news-content{
    margin-top: 80px;
}
.news-content .news-content-left{
    margin-top: 45px;
    width: 845px;
}
.news-content .news-content-left .primary-news-left{
    width: 385px;
    height: 220px;
    overflow: hidden;
    float: left;
    margin-right: 35px;
}
.news-content .news-content-left .primary-news-left img{
    width: 385px;
    height: 220px;
}
.news-content .news-content-left .primary-news-right{
    width: 420px;
    height: 220px;
    float: left;
}
.news-content .news-content-left .primary-news-right h3 a{
    color: #000;
    font-size: 20px;
    font-weight: normal;
    line-height: 3em;
}
.news-content .news-content-left .primary-news-right h3 a:hover{
    color: #e50012;
}
.news-content .news-content-left .primary-news-right p{
    color: #939393;
    line-height: 2em;
}
.news-content .news-content-left ul{
    margin-top: 20px;
}
.news-content .news-content-left ul li{
    padding: 30px 0;
    border-bottom: 1px solid #eaeaea;
}
.news-content .news-content-left ul li .news-left-img{
    width: 225px;
    height: 150px;
    overflow: hidden;
    float: left;
    margin-right: 35px;
}
.news-content .news-content-left ul li .news-left-img img{
    width: 225px;
    height: 150px;
}
.news-content .news-content-left ul li .news-left-article h3{
    margin-bottom: 30px;
}
.news-content .news-content-left ul li .news-left-article h3 a{
    color: #000;
    font-size: 20px;
    font-weight: normal;
}
.news-content .news-content-left ul li .news-left-article h3 a:hover{
    color: #e50012;
}
.news-content .news-content-left ul li .news-left-article p{
    color: #939393;
    line-height: 25px;
}
.news-content .news-content-left .more{
    text-align: center;
    margin: 45px 0 140px 0;
}
.news-content .news-content-left .more a{
    color: #939393;
    font-size: 18px;
}
.news-content .news-content-left .more a:hover{
    color: #e50012;
}

.news-content .news-content-right{
    width: 273px;
    padding: 65px 18px 0;
    background-color: #f6f6f6;
}
.news-content .news-content-right h2{
    color: #000;
    font-size: 22px;
    font-weight: normal;
    padding-left: 10px;
    border-left: 7px solid #e50012;
    margin-bottom: 20px;
}
.news-content .news-content-right dl dt{
    width: 273px;
    height: 192px;
    overflow: hidden;
}
.news-content .news-content-right dl dt img{
    width: 273px;
    height: 192px;
}
.news-content .news-content-right dl dd{
    margin: 10px 0 30px 0;
}
.news-content .news-content-right dl dd p a{
    color: #000;
    font-size: 20px;
    line-height: 35px;
}
.news-content .news-content-right dl dd p a:hover{
    color: #e50012;
}