@charset "utf-8";
.nav{
    margin-top: 80px;
    height: 65px;
    line-height: 65px;
    width: 100%;
    min-width: 1230px;
    border-bottom: 3px solid #efefef;
    background-color: #fff;
}
.nav .container{
    overflow: hidden;
}
.nav ul{
    margin-left: -20px;
}
.nav ul li{
    float: left;
    color: #efefef;
}
.nav ul li a{
    color: #c0c0c0;
    font-size: 18px;
    padding: 0 20px;
}
.nav ul li a:hover{
    color: #3e3e3e;
}
.nav ul li.cur a{
    color: #3e3e3e;
}
.part1{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #d9d9d9;
    margin-top: 80px;
}
.part1 ul{
    float: left;
    height: 60px;
}
.part1 ul li{
    float: left;
}
.part1 ul li.line{
    padding: 0 15px;
}
.part1 ul li a{
    color: #7b7b7b;
    font-size: 18px;
}
.part1 ul li.cur a{
    color: #ff6269;
}

.part1 .part1-right{
    float: right;
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 7px;
    background-color: #ff6269;
    margin: 15px 15px 0 0;
}
.part1 .part1-right a{
    color: #fff;
    font-size: 18px;
}

.part2{
    margin: 30px 0;
}
.part2 .money,.part2 .deadline{
    margin-right: 80px;
    float: left;
}
.part2 .money span,.part2 .deadline span{
    color: #3e3e3e;
    font-size: 16px;
    margin-right: 20px;
    float: left;
    line-height: 35px;
}
.part2 .money .money-box,.part2 .deadline .deadline-box{
    float: left;
    position: relative;
    width: 140px;
    height: 35px;
    border: 1px solid #d9d9d9;
}
.part2 .money .money-con,.part2 .deadline .deadline-con{
    position: absolute;
    background-color: #e5e5e5;
    width: 140px;
    height: 35px;
}
.part2 .money .money-con input,.part2 .deadline .deadline-con input{
    position: absolute;
    font-size: 16px;
    width: 80px;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
}
.part2 .money .money-con i,.part2 .deadline .deadline-con i{
    position: absolute;
    right: 13px;
    top: 13px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 6px;
    border-color: #a0a0a0 transparent transparent;
}
.part2 .money .money-list,.part2 .deadline .deadline-list{
    display: none;
    position: absolute;
    top: 35px;
    left: -1px;
    z-index: 2;
    width: 100%;
    height: 125px;
    overflow: auto;
    background-color: #fff;
    border: 1px solid #d9d9d9;
}
.part2 .money .money-list a,.part2 .deadline .deadline-list a{
    display: block;
    color: #000;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
}
.part2 .money .money-list a:hover,.part2 .deadline .deadline-list a:hover{
    background-color: #d9d9d9;
}
.part2 .search{
    float: right;
    width: 80px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 5px;
    background-color: #ff6269;
    margin-right: 15px;
}
.part2 .search a{
    color: #fff;
    font-size: 16px;
}

.part3 .container{
    margin-bottom: 150px;
}
.part3 .part3-left{
    width: 913px;
    float: left;
    border: 1px solid #d9d9d9;
}
.part3 .part3-left .part3-left-top{
    height: 50px;
    border-bottom: 1px solid #d9d9d9;
    padding: 10px 0 0 15px;
}
.part3 .part3-left .part3-left-top .common-box{
    position: relative;
    width: 170px;
    height: 40px;
    border: 1px solid #d9d9d9;
    margin-right: 40px;
    float: left;
}
.part3 .part3-left .part3-left-top .common-con{
    position: absolute;
    width: 170px;
    height: 40px;
}
.part3 .part3-left .part3-left-top .common-con input{
    position: absolute;
    color: #3e3e3e;
    font-size: 16px;
    width: 120px;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
}
.part3 .part3-left .part3-left-top .common-con i{
    position: absolute;
    right: 10px;
    top: 16px;
    width: 0;
    height: 0;
    border-width: 10px 6px;
    border-color: #a0a0a0 transparent transparent;
    border-style: solid;
}
.part3 .part3-left .part3-left-top .common-list{
    display: none;
    position: absolute;
    top: 42px;
    left: -1px;
    border: 1px solid #d9d9d9;
    width: 100%;
    height: 125px;
    background-color: #fff;
    overflow: auto;
}
.part3 .part3-left .part3-left-top .common-list a{
    display: block;
    color: #3e3e3e;
    font-size: 16px;
    height: 25px;
    line-height: 25px;
    padding-left: 15px;
}
.part3 .part3-left .part3-left-top .common-list a:hover{
    background-color: #d9d9d9;
}
.part3 .part3-left .part3-left-middle ul li{
    height: 143px;
    border-bottom: 1px solid #d9d9d9;
}
.part3 .part3-left .part3-left-middle ul li .part3-img{
    width: 165px;
    float: left;
}
.part3 .part3-left .part3-left-middle ul li .part3-img img{
    display: block;
    width: 103px;
    height: 103px;
    margin: 20px 0 0 30px;
}
.part3 .part3-left .part3-left-middle ul li .part3-state{
    display: table;
    float: left;
    width: 580px;
    height: 140px;
}
.part3 .part3-left .part3-left-middle ul li .part3-state p{
    display: table-cell;
    vertical-align: middle;
    *line-height: 140px;
}
.part3 .part3-left .part3-left-middle ul li .part3-state p span{
    color: #3e3e3e;
    font-size: 16px;
    margin-right: 10px;
}
.part3 .part3-left .part3-left-middle ul li .part3-state p span.red{
    color: #ff6269;
}
.part3 .part3-left .part3-left-middle ul li .part3-check{
    width: 135px;
    float: right;
}
.part3 .part3-left .part3-left-middle ul li .part3-check a{
    display: block;
    width: 80px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    color: #fff;
    background-color: #ff6269;
    border-radius: 6px;
    font-size: 18px;
    margin: 50px auto 10px;
}
.part3 .part3-left .part3-left-middle ul li .part3-check p,.part3 .part3-left .part3-left-middle ul li .part3-check p span{
    color: #797979;
    font-size: 12px;
    text-align: center;
}

.part3 .part3-left .part3-left-list{
    height: 93px;
    text-align: center;
    padding-top: 50px;
}
.part3 .part3-left .part3-left-list .paging-list{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    *clear:both;
}
.part3 .part3-left .part3-left-list .paging-list a{
    font-size: 14px;
    display: inline-block;
    padding: 10px 15px;
    margin-right: 10px;
    color: #8e8e8e;
}
.part3 .part3-left .part3-left-list .paging-list ul{
    display:inline;
    *position:relative;
    *top: -10px;
}
.part3 .part3-left .part3-left-list .paging-list ul li{
    display: inline-block;
    cursor: pointer;
    color: #8e8e8e;
    *width:40px;
    *height:40px;
    *line-height:40px;
    *display:inline;
    margin-right: 10px;
}
.part3 .part3-left .part3-left-list .paging-list ul li a{
    font-size: 14px;
    display: inline-block;
    padding: 10px 15px;
    margin-right: 0;
    color: #8e8e8e;
}
.part3 .part3-left .part3-left-list .paging-list ul li a:hover,.part3 .part3-left .part3-left-list .paging-list a:hover,.part3 .part3-left .part3-left-list .paging-list ul li:hover,.part3 .part3-left .part3-left-list .paging-list ul li.cur a{
    background-color: #ff6269;
    color: #fff;
}
.part3 .part3-left .part3-left-bottom{
    height: 220px;
    border-top: 1px solid #d9d9d9;
}
.part3 .part3-left .part3-left-bottom a{
    display: block;
    width: 342px;
    height: 168px;
    margin: 25px auto;
}

.part3 .part3-right{
    float: left;
    width: 310px;
    border: 1px solid #d9d9d9;
    border-left: none;
}
.part3 .part3-right h3{
    color: #000;
    font-size: 20px;
    font-weight: normal;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    border-bottom: 1px solid #d9d9d9;
}
.part3 .part3-right ul li{
    height: 143px;
    margin: 0 20px;
    border-bottom: 1px solid #d9d9d9;
}
.part3 .part3-right ul li .part3-right-img{
    display: block;
    width: 100px;
    height: 100px;
    float: left;
    margin: 20px 20px 0 0;
}
.part3 .part3-right ul li .part3-right-state{
    position: relative;
    width: 145px;
    float: left;
}
.part3 .part3-right ul li .part3-right-state h4{
    margin: 35px 0 20px 0;
}
.part3 .part3-right ul li .part3-right-state h4 a{
    font-size: 16px;
    color: #000;
}
.part3 .part3-right ul li .part3-right-state p a{
    font-size: 16px;
    color: #797979;
}
.part3 .part3-right ul li .part3-right-state span{
    position: absolute;
    top: 35px;
    right: 0;
    display: block;
    width: 60px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #d9d9d9;
    font-size: 16px;
    border: 1px solid #d9d9d9;
    border-radius: 7px;
}
.part3 .part3-right .part3-right-bottom{
    padding: 55px 20px 390px;
}
.part3 .part3-right .part3-right-bottom a{
    width: 270px;
    height: 130px;
    background-color: #f3f3f3;
    display: block;
}
.part3 .part3-right .part3-right-bottom a img{
    width: 238px;
    height: 107px;
    margin: 10px 16px;
}